{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="card m-5">
      <img src="/static/construction.jpeg" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">My Journey Into the Industry</h5>
        <p class="card-text lead">First and foremost I would like to say thank you and I appreciate you getting the time to know me! My name is Terry Davis and I am the owner of Terry Davis Tile. If that was not obvious (haha)! I started out working with my older brother learning the basics of tile design and installation. After a couple years I noticed myself really enoying the work and was proud of what i had accomplished so I decided to venture out on my own and start my own business, Terry Davis Tile! I have been in the industry about 14 years so far and each and everyday I am excited to learn even more than what I already know.</p>
      </div>
    </div>
  </div>
{% endblock %}



