{% extends 'base.html' %}

{% block content %}
<div class="card-deck container-fluid">
  <div class="row px-3 justify-content-center">

    <div class="col-md-6 col-lg-3">
      <div class="card my-3">
        <img class="card-img-top" style="height: 20rem;" src="../static/phone.jpeg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Phone</h4>
          <p class="card-text">541-670-3553</p>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="card my-3">
        <img class="card-img-top" style="height: 20rem;" src="../static/mail.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Email</h4>
          <p class="card-text">TDTile2005@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="card my-3">
        <img class="card-img-top" style="height: 20rem;" src="../static/roseburg.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Location</h4>
          <p class="card-text">Located in Roseburg, Oregon</p>

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}